<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginClienteServlet</servlet-name>
        <servlet-class>smdcommerce.usuario.controller.LoginClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoClienteServlet</servlet-name>
        <servlet-class>smdcommerce.usuario.controller.NovoClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>smdcommerce.usuario.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilServlet</servlet-name>
        <servlet-class>smdcommerce.usuario.controller.PerfilServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginClienteServlet</servlet-name>
        <url-pattern>/LoginClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoClienteServlet</servlet-name>
        <url-pattern>/NovoClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilServlet</servlet-name>
        <url-pattern>/PerfilServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
